@model AlterStudio.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dd>
            
            @if (Model.HasPassword)
            {
                <div class="btn-group">
                    <a href="@Url.Action("ChangePassword")" class="btn btn-warning">
                        Смена пароля 
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("Register","Account")" class="btn btn-success">
                        Добавить пользователя
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                </div>
                    }
                    else
                    {
                    @Html.ActionLink("Создать", "SetPassword")
                    }

</dd> 
    </dl>
</div>
